* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

h1,
.h1 {
  font-size: 45px;
}

h2,
.h2 {
  font-size: 35px;
}

h3,
.h3 {
  font-size: 25px;
}

.container {
  position: relative;
  padding: 0 68px;
  height: 100vh;
}



.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 32px;
}

.heading {
  color: #484801;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  margin-bottom: 24px;
  text-align: center;
  margin-top: 32px;
}

section {
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
  background-color: #fffff5;
}

img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-center {
  justify-content: center;
}

.flex-baseline {
  justify-content: baseline;
}

.col {
  flex: 1;
  text-align: justify;
  padding: 0 10px;
}

.content-center {
  align-items: center;
}

header {
  position: fixed;
  background-color: #756203;
  width: 100%;
  max-width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #eeeeee;
  z-index: 3;
}

ul {
  list-style-type: none;
}

li a {
  margin: 1.2em;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #f7f1cf;
  text-transform: uppercase;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #484801;
}

.content p {
  font-size: 1.8em;
  font-weight: 600;
  color: #756203;
}

.card {
  padding: 8px;
  border: 2px solid #484801;
  border-radius: 10px;
  background-color: #fffff5;
  box-shadow: -12px 4px 8px #efeeee;
}

.card-body {
  padding: 10px;
  background-color: #f7f1cf;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}